body {
    background-color: rgb(236, 227, 251);
    color: rgb(153, 43, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hargafinal {
    font-weight: bold;
    color: rgb(127, 160, 163);
}

a:link {
    text-decoration: none;
    color:cornflowerblue;
    align-items: center;
}

a:visited {
    text-decoration: none;
    color:cornflowerblue;

}

a:hover {
    text-decoration: none;
    color:rgb(192, 43, 226);
    font-weight: bold;
}

.profilepicture {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.photoframe {
    border-radius: 25px; /* membuat rounded corner */
    border: 2px solid #000000; /* tebal jenis warna */
    padding: 10px; /* jarak isi dengan border */
    width: 510px; /* jika tidak di set, akan full 1 page */
    margin-left: auto;
    margin-right: auto;
}